# Puerto de ejecución de la API
PORT=

# Clave de aplicacion proporcionada por Gmail
EMAIL_PASS=

# Nombre de usuario de Gmail
EMAIL_USERNAME=

# Correo del emisor, debe de ser el mismo al que se le creo la clave de aplicacion
EMAIL_SENDER=